<div style="position: relative;">
    <% var name = fileEntry.path.split('\\'); %>
    <% name = name[name.length - 1]; %>
    <div style="height: 15px; position: relative;">
        <% if (fileEntry.isDir && fileEntry.expanded) { %>
            <div class="arrow-icon-rotated" directoryExpandButton="<%= fileEntry.id %>"></div>
        <% } else if (fileEntry.isDir) { %>
            <div class="arrow-icon" directoryExpandButton="<%= fileEntry.id %>"></div>
        <% } %>
        <% if (fileEntry.isDir) { %>
            <div style="position: absolute; left: 15px; top: 0px;" fileType="dir"><%= name %></div>
        <% } else { %>
            <div style="position: absolute; left: 15px; top: 0px;" fileType="simple"><%= name %></div>
        <% } %>
    </div>
    <% if (fileEntry.isDir && fileEntry.expanded && fileEntry.children.length > 0) { %>
        <div style="position: relative; left: 15px">
            <% for (var i = 0; i < fileEntry.children.length; ++i) { %>
                <%- api.visualizeFileEntry(fileEntry.children[i]) %>
            <% } %>
        </div>
    <% } %>
</div>