<div id="<%= go.id %>" style="position: relative;">
    <div style="height: 15px;">
        <% if (go.children && go.children.length > 0) { %>
            <% if (controller.gameObjectProps[go.id] && controller.gameObjectProps[go.id].expanded) { %>
                <div class="arrow-icon-rotated" expandButton="<%= go.id %>"></div>
            <% } else { %>
                <div class="arrow-icon" expandButton="<%= go.id %>"></div>
            <% } %>
        <% } %>
        <div style="position: absolute; left: 15px; top: 0px;" gameObject="<%= go.id %>"><%= go.name %></div>
    </div>

    <% if (controller.gameObjectProps[go.id] && controller.gameObjectProps[go.id].expanded && go.children && go.children.length > 0) { %>
        <div style="position: relative; left: 15px;">
            <% for (var i = 0; i < go.children.length; ++i) { %>
                <%- api.renderGO(go.children[i]) %>
            <% } %>
        </div>
    <% } %>
</div>